<html>
  <head>
    <title>Target: Photogram GUI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body data-new-gr-c-s-check-loaded="14.1199.0" data-gr-ext-installed="">
    <nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>

    <h1>Photo Details</h1>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @photo.image %>" height="300px">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <p>
          <%= @photo.caption %>
        </p>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @photo.poster.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= @photo.created_at %>
      </dd>

      <dt>
        Edit photo
      </dt>
      <dd>
        <form action="/update_photo/<%= @photo.id %>" method="post">
          <label for="image">Image</label>
          <input id="image" type="text" name="image" placeholder="Enter a URL for the image..." value="<%= @photo.image %>">

          <label for="caption">Caption</label>
          <textarea id="caption" name="caption" placeholder="Enter a caption for the photo..."><%= @photo.caption %></textarea>

          <button>Update photo</button>
        </form>
      </dd>

      <dt>
        Delete photo
      </dt>
      <dd>
        <a href="/delete_photo/<%= @photo.id %>">
          Delete this photo
        </a>
      </dd>
    </dl>

    <h2>Comments</h2>

    <table>
      <tbody>
        <tr>
          <th>
            Commenter
          </th>

          <th>
            Comment
          </th>

          <th>
            Posted
          </th>
        </tr>

        <% @photo_comm.each do |a_c|%>
        <tr>
          <td>
            <%= User.find(a_c.author_id).username%>
          </td>

          <td>
            <%= a_c.body%>
          </td>

          <td>
            <%= a_c.created_at%>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>

    <h3>Add a new comment</h3>

    <form action="/add_comment" method="post">
      <label for="photo_id">Photo ID</label>
      <input id="photo_id" type="text" placeholder="Enter the photo ID" name="photo_id" value="<%= @photo.id %>">

      <label for="author_id">Author ID</label>
      <input id="author_id" type="text" placeholder="Enter your author ID" name="author_id">

      <label for="comment">Comment</label>
      <textarea id="comment" type="text" placeholder="Enter a comment..." name="comment"></textarea>

      <button>Add comment</button>
    </form>
  </body>
<grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration>
</html>
